<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>OpenRIS</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="../js/navbar_dropdown.js"></script>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper grey z-depth-3">
                <a href="{{ url_for('index') }}" class="brand-logo">OpenRIS</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a class="dropdown-trigger" data-target="workflow-dropdown">
                            Workflow
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <li class="{% if page_name == 'patients' %}active{% endif %}"><a href="/patients">Patients</a></li>
                    <li class="{% if page_name == 'report' %}active{% endif %}"><a href="/search-reports">Report</a></li>
                    <li class="{% if page_name == 'new_proc' %}active{% endif %}"><a href="/new_procedure">Add Procedure</a></li>
                </ul>
            </div>
        </nav>
        <ul id="workflow-dropdown" class="dropdown-content">
            <li class="{% if page_name == 'workflow-all' %}active{% endif %}"><a href="/workflow/all">All</a></li>
            <li class="{% if page_name == 'workflow-today' %}active{% endif %}"><a href="/workflow/today">Today</a></li>
            <li class="{% if page_name == 'workflow-reporting' %}active {% endif %}"><a href="/workflow/reporting">To Report</a></li>
        </ul>
        {% block content %}
        {% endblock %}
    </body>
    <!-- ERROR MESSAGE MANAGEMENT -->
    <script>
        {% if flash_msg %}
            {% for category, message in flash_msg %}
                {% if category == 'toast' %}
                    M.toast({html: '{{ message }}', classes: 'rounded'});
                {% elif category == 'error' %}
                    M.toast({html: '{{ message }}', classes: 'rounded red'});
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>

</html>