{% extends 'index.html' %}
{% block content %}
    <table id="workflow-table" class="highlight custom-table-pointer">
        <thead>
            <tr>
                <th>id</th>
                <th onclick="tableSorting('workflow-table', 1)">Patient</th>
                <th onclick="tableSorting('workflow-table', 2)">Procedure</th>
                <th onclick="tableSorting('workflow-table', 3)">Modality</th>
                <th onclick="tableSorting('workflow-table', 4)">Status</th>
                <th onclick="tableSorting('workflow-table', 5)">Date</th>
                <th onclick="tableSorting('workflow-table', 6)">Scheduled Timing</th>
                <th onclick="tableSorting('workflow-table', 7)">Execution Timing</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order._id }}</td>
                    <td>{{ order.patient_surname }} {{ order.patient_name }}</td>
                    <td>{{ order.procedure }}</td>
                    <td>{{ order.modality }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.examination_date.date }}</td>
                    <td>{{ order.examination_date.start_time }} - {{ order.examination_date.end_time }}</td>
                    <td>{% if order['executive-start-time'] %}{{ order['executive-start-time'] }}{% else %} / {% endif %} - {% if order['executive-end-time'] %}{{ order['executive-end-time'] }}{% else %} / {% endif %}</td>
                    <td>
                        {% if order.status == "SCHEDULED" %}
                            <a class="btn-floating btn-small red" href="/remove_order/{{ order._id }}">
                                <i class="material-icons">remove</i>
                            </a>
                            {% if order.examination_date.date == curr_date %}
                                <a class="btn-floating btn-small grey darken-1" href="/create_worklist/{{ order._id }}">
                                    <i class="material-icons">assignment</i>
                                </a>
                            {% endif %}
                        {% elif order.status == "FINISHED" %}
                            <a href="/create-report/{{ order._id }}" class="btn-floating btn-small grey">
                                <i class="material-icons">assignment_late</i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript" src="../js/tab_sorting.js"></script>
    <style>
        .custom-table-pointer th[onclick] {
            cursor: pointer;
        }
    </style>
{% endblock %}